@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Lobster');

@font-face {
    font-family: 'Beatles';
    src: url('//qd-cdn.github.io/flickakids-arquivos/beatles.ttf');
}

@font-face {
    font-family: 'Bonzai';
    src: url('//qd-cdn.github.io/flickakids-arquivos/bonzai.ttf');
}

@font-face {
    font-family: 'Effloresce';
    src: url('//qd-cdn.github.io/flickakids-arquivos/effloresce.ttf');
}

@font-face {
    font-family: 'Granada Blues';
    src: url('//qd-cdn.github.io/flickakids-arquivos/GranadaBlues.ttf');
}

@font-face {
    font-family: 'Lauren Script';
    src: url('//qd-cdn.github.io/flickakids-arquivos/LaurenScript.ttf');
}

@font-face {
    font-family: 'Motion Picture';
    src: url('//qd-cdn.github.io/flickakids-arquivos/MotionPicture.ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('//qd-cdn.github.io/flickakids-arquivos/Pacifico.ttf');
}

@font-face {
    font-family: 'Disney';
    src: url('//qd-cdn.github.io/flickakids-arquivos/WaltDisney.ttf');
}